/* Control size of the main image */
.pic_region{
  width: 35%;
}



/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_FQftx9897sxZ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Main site settings */
name {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 50px;
font-weight: 900;
color: rgba(13, 14, 90, 0.705);
}


body,
td,
th,
tr{
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 17px;
  color: #4f4f4e;
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
  font-size: 17px;
}

p{
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 17px;
  color: #4f4f4e;
}


strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px;
}

heading {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 900;
  color:rgba(13, 14, 90, 0.705);
}

papertitle {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color:rgba(13, 14, 90, 0.705);
}


.paper_title {
 text-align: left;
}


.teaching_exp{
  width: 160px;
  height: 160px;
  position: relative;
}


/* Image settings */
.teaching_1 {
  height: 160px;
  width: 160px;
  position: relative;
  border-radius:5%;
  /* border: 1px solid #eeebeb; */

}

.teaching_2 {
  height: 160px;
  width: 160px;
  position: relative;
  border-radius:5%;
  /* border: 1px solid #eeebeb; */

}

.one {
  height: 160px;
  width: 160px;
  position: relative;
  border-radius:5%;
  /* border: 1px solid #eeebeb; */

}


.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transform: scale(1.10);
  border-radius:5%;
  /* border: 1px solid #eeebeb; */

}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

/* img:hover{
  transform: scale(1.05)
} */


/* Set to smooth for smooth scroll action when pressing the top nav tab */
html {
  scroll-behavior: smooth;
}

.pic_region_top{
  display: none;
}

/* FOR THE NAV BAR ON TOP */
/* Create a sticky/fixed navbar */
#navbar {
  overflow: hidden;
  background-color:rgb(50, 50, 83);
  padding: 20px 10px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.5s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  left:0;
  z-index: 99;
  border-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;

}

/* Style the navbar links */
#navbar a {
  float: none;
  color: rgba(228, 228, 234, 0.934);
  text-align: center;
  padding: 20px; /*gap between tabs */
  text-decoration: none;
  font-size: 20px;
  line-height: 2px;
  border-radius: 0px;
}



 /* Links on mouse-over */
#navbar a:hover {
  color: #96949f;
  font-size: 22px;
  /* background-color: aqua; */

}


/* Style the active/current link */
#navbar a.active {
  border-bottom: 3px solid white;
  padding-bottom: 4px;
}

/* Display some links to the right */
#navbar-right {
  float: none;
  text-align: center;
}



/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 0px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
    top: -5px;
    font-size:3px;
  }

  /* #navbar #logo {
    color:rgb(50, 50, 83);
    float: none;
    display: block;
    margin-bottom: -30px;
  } */


  #navbar a {
    float: none;
    text-align: center;
    font-size: 13px;

  }
   /* Links on mouse-over */
  #navbar a:hover {
  color: #ffffff;
  font-size: 14px;
  /* background-color: aqua; */
  }


  #navbar-right {
    float: none;
    text-align: center;
  }
  /* Hide bottom pic */
  .pic_region{
    display: none;
  }
  /* Show top pic */
  .pic_region_top{
    display: inline;
  }

  /* Change TXT size */
  name{
    font-size: 25px;
  }

  heading{
    font-size: 18px;
  }

  papertitle{font-size:13px}

  a, strong,
  a:hover,
  body,
  td,
  th,
  tr{
    font-size: 10px;
  }
  .top_text{font-size: 10px;
  text-align: justify}


  table {
    table-layout: fixed ;
    border-spacing:0px;
    width: 100% ;
    vertical-align:middle;
  }

  tr {
    border-spacing: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  td {
    width: 100%;
    border-spacing: 0px;

  }

  .text_just {
    float: center;
    padding-right: 0px;
  }

/* #Adjust paper images */
  .one{
    margin: auto;
    margin-top: -5px;
    margin-bottom: -25px;
    transform: scale(1.0);
  }



  .teaching_1{
    margin-top: -60px;
    margin-bottom: -70px;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.0);
  }

  .teaching_2{
    margin-top: -60px;
    margin-bottom: -80px;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.0);
  }


  .heading_center {
    text-align: center;
  }

  .text_just{
          text-align: justify;
  }



  .paper_title_center{
    text-align: center;
  }

  .footer{

    margin: auto;
  }

  .footer-img {
    padding: 0;
  }

}

